<MarketplaceDetails>
  <SmallAppTile>StoreIcon.png</SmallAppTile>
  <ScreenShots>1-WVGA.png;2-WVGA.png;3-WVGA.png;4-WVGA.png;;;;;</ScreenShots>
  <ScreenShotsWXGA>1-WXGA.png;2-WXGA.png;3-WXGA.png;4-WXGA.png;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>1-720P.png;2-720P.png;3-720P.png;4-720P.png;;;;;</ScreenShots720P>
</MarketplaceDetails>